<mat-card 
  class="note"
  [ngClass]="{'done': note.isDone}"
> 
  <div (click)="toEditPage()">
    <mat-card-header class="note-header">
      <mat-card-title>{{ note.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="note-content">
      {{ note.description }}
    </mat-card-content>
  </div>
  <mat-card-actions class="note-actions">
      <mat-checkbox (click)="onDoneToggle()" [checked]="note.isDone"
      >Done</mat-checkbox>
      <mat-icon
        *ngIf="!note.isArchived"
        (click)="onArchive()"
        class="icon"
      >archive</mat-icon>
      <mat-icon
        *ngIf="note.isArchived"
        (click)="onArchive()"
        class="icon"
      >unarchive</mat-icon>
  </mat-card-actions>
</mat-card>